asgiref==3.7.2
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==40.0.2
Django==4.0.3
idna==3.4
msal==1.22.0
pycparser==2.21
PyJWT==2.7.0
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.6.2
tzdata==2023.3
urllib3==2.0.2
